.yop:active {
    border: 1px solid $accent-color;
    background-color: black;
}
/*
.itemrenderer:active {
    border: 1px solid $accent-color;
    background-color: black;
}*/
.itemrenderer:cursored {
    border: 1px solid $accent-color;
    background-color: black;
}

.tableview .compounditemrenderer:line-selected {
    border: 1px solid $accent-color;
    border-color: red;
}
/*
.cursored {
    border: 1px solid $accent-color;
    background-color: black;
}*/

.yop {
    border: 1px solid 0;
    background-color: black;
}

.box_selected {
    border: 1px solid 0;
    border-color: red;
}

.box_selection {
    border: 1px solid 0;
    border-color: grey;
}

.itemrenderer:selected {
    border: 1px solid 0;
    background-color: grey;
}


.color-picker-popup {
    icon:none;
    padding :none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.color-picker-popup #selectedColorPreviewContainer {
    padding: 0px;
    background-color: $contrast-background-color;
    border: none
    border-radius: none
    opacity: 1;
    filter: none;
}

.color-picker-popup:disabled #selectedColorPreviewContainer {
    filter: grayscale;
    opacity: .3;
}

.tab-close-button {
    /*hidden: true;*/
    resource: none; /* otherwise but in openfl, cannot always click on tab button*/
}


.closable .tab-close-button {
   /* hidden: false;*/
    resource: $close;
}

